    html body {
        padding: 40px;
        background: #393939;
        font-family: Arial;
    }

    h1 {
        text-align: center;
        font-size: 56px;
        color: #FFF;
    }
    p {
        font-size: 15px;
        color: #FFF;
        margin-bottom: 20px;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 8px;
        line-height: 28px;
        background: #1C1C1C;
        margin-bottom: 30px;
        text-align: center;
    }
    nav a {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        color: #FF5A09;
        text-decoration: none;
    }
    nav a:hover {
        color: #F3843E;
    }

    #logo {
      float: left;
      height: 28px;
      width: auto;
    }
